PORT=3000
DB_HOST=db
DB_PORT=3306
DB_USER=app
DB_PASSWORD=app123
DB_NAME=inventario
JWT_SECRET=supersecretjwt
JWT_EXPIRES_IN=12h
SRI_ENVIRONMENT=1
SRI_EMISSION_TYPE=1
SRI_RUC=9999999999999
SRI_BUSINESS_NAME=Inventar Demo
SRI_COMMERCIAL_NAME=Inventar
SRI_ESTABLISHMENT_ADDRESS=Quito
SRI_ESTABLISHMENT_CODE=001
SRI_EMISSION_POINT=001
SRI_HEADQUARTERS_ADDRESS=Quito
SRI_CERTIFICATE_PEM_BASE64=
SRI_PRIVATE_KEY_PEM_BASE64=
SRI_SOAP_RECEIPT_URL=https://celcer.sri.gob.ec/comprobantes-electronicos-ws/RecepcionComprobantesOffline?wsdl
SRI_SOAP_AUTH_URL=https://celcer.sri.gob.ec/comprobantes-electronicos-ws/AutorizacionComprobantesOffline?wsdl
